//colors HEX
$white: #ffffff;
$dark-main: #333333;
$dark-alt: #555555;
$app-bg: #efefef;
$card-hover-bg: #f7f7f7;
$border-grey: #d9d9d9;

// Fonts
$common-font: 'Inter', sans-serif;
$second-font: 'Lora', sans-serif;

// breakpoints
$screen-xs: 375;
$screen-sm: 576;
$screen-md: 768;
$screen-lg: 1024;
$screen-xl: 1280;
$screen-xxl: 1440;

//container
$width-content: 1200px;
